body {
	font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
	font-size: 14px;
	margin: 0px;
	padding: 0px;
}

div.navbar {
	padding: 10px 8px;
	color: #ffffff;
	background-color: #a0a0a0;
}
div.filter {
	padding: 6px 8px;
	background-color: #e0e0e0;
}
section.details {
	margin: 8px;
}
div.details1 {
	float: left;
}
div.details2 {
}
section.events {
	margin: 8px;
	clear: left;
}

address {
	margin: 8px;
}

span, label {
	color: #101010;
}

a {
	text-decoration: none;
}
a.navbar {
	font-weight: bold;
	color: #ffffff;
	text-decoration: underline;
}

img {
	border: 0;
	vertical-align: middle;
}
img.icon16 {
	width: 16px;
	height: 16px;
}
img.icon128 {
	width: 128px;
	height: 128px;
}

table {
	border-collapse: collapse;
}
th {
	padding: 10px 8px;
	color: #101010;
	border-bottom: 2px solid #a0a0a0;
}
td {
	padding: 6px 8px;
	color: #101010;
	border-bottom: 1px solid #e0e0e0;
}

th.center, td.center {
	text-align: center;
}
th.left, td.left {
	text-align: left;
}
th.right, td.right {
	text-align: right;
}

td.clear {
	border: 0px;
}
td.bold {
	font-weight: bold;
}
