<?php
/**
 * phplogmon configuration file.
 */

/*
 * Enable/disable debugging.
 */
define('DEBUG', false);

/*
 * The database to use.
 * Database access is PDO based. See http://www.php.net/manual/en/pdo.drivers.php
 * for how to define the driver specific DSN. See also the INSTALL file for further
 * information regarding database setup.
 */
define('DBDSN', 'mysql:host=localhost;dbname=logmon');
define('DBUSER', 'logmon');
define('DBPASS', 'secret');

?>
