<?php
/**
 * phplogmon configuration file.
 */

/*
 * Enable/disable debugging.
 */
define('DEBUG', false);

/*
 * The database to use.
 * Database access is PDO based. See http://www.php.net/manual/en/pdo.drivers.php
 * for how to define the driver specific DSN. See also the INSTALL file for further
 * information regarding database setup.
 */
define('DBDSN', 'mysql:host=localhost;dbname=logmon');
define('DBUSER', 'logmon');
define('DBPASS', 'secret');

/*
 * Number of days after which old events are discarded.
 */
define('EVENT_DISCARD_THRESHOLD', 14);

/*
 * Name of the MaxMind (http://www.maxmind.com) GeoIP2 City database to use.
 * If none is defined (false) the GeoIP2 API is not used.
 * See ext-lib/README for how to provide the GeoIP2 API.
 */
define('GEOIP2_CITY_DATABASE_FILE', false);

/*
 * Whether to allow anonymous access to senstive data like user names and log lines via the web frontend.
 * If set to false any user allowed to access the web frontend will be able to read/download all available
 * information. If set to false, the web frontend checks if the user hat authenticated
 * itself to the web server by checking the REMOTE_USER variable. If this is not the case the following
 * restrictions apply:
 *  - All user names are masked
 *  - Access to log lines is forbidden
 * Please note: The web frontend does not perform any kind of authentication by itself. If such
 * security measures are required, they have to be enforced externally (e.g. by the web server).
 */
define('ENABLE_ANONYMOUS_KIOSKMODE', true);

/*
 * URI pattern to use for map link generation.
 * This format string is passed to php's sprintf function with the following parameters:
 *  %1$s: Host's name
 *  %2$s: Host's latitude
 *  %3$s: Host's longitude
 */
define('MAP_URI_FORMAT', 'http://maps.google.com/maps?q=%2$s,+%3$s+(%1$s)&amp;iwloc=A');

/*
 * URI patterns to use for whois link generation.
 * These format strings are passed to php's sprintf function with the following parameter:
 *  %1$s: Either host's name or ip address
 */
define('WHOISHOST_URI_FORMAT', 'http://whois.domaintools.com/%1$s');
define('WHOISIP_URI_FORMAT', 'http://whois.domaintools.com/%1$s');

?>
